body {
  font-family: 'TitilliumWeb-Regular', sans-serif;
  background-color: black;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1.0; /* Firefox */
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

.navbar {
  background: url('../images/starfield-banner.jpg');
}

.logo-img {
  max-height: 60px;
  margin-right: 5px;
}

/* Add this CSS to your styles.css file */
.table-white {
  color: white; /* Set text color to white */
  border: none; /* Remove table border */
  padding-top: none;
  margin-top: none;
}
